* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  border: 1px solid #e6f1f1;
  width: 800px;
  height: 650px;
  display: flex;
  border-radius: 10px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px 0 0 10px;
}

.logo {
  height: 18em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem;
  gap: 2rem;
}

h2 {
  font-size: xx-large;
  font-weight: 600;
}

.sub-text {
  line-height: 32px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  height: 3.5rem;
  padding-left: 1rem;
  font-size: medium;
  border-radius: 5px;
  border: none;
  background-color: #e6f1f1;
  color: #4e7777;
  width: 100%;
}

::placeholder {
  color: #9e9e9e;
}

select {
  height: 3.5rem;
  font-size: medium;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #e6f1f1;
  color: #4e7777;
  margin-bottom: 1.4rem;
}

input:focus,
select:focus {
  outline: 1px solid #6264fd;
  outline-offset: 0;
}

button {
  height: 3.5rem;
  font-size: medium;
  border-radius: 5px;
  border: none;
  background-color: #6264fd;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #8789fc;
}

button:disabled {
  background-color: #486d6d;
  cursor: auto;
}

button:focus {
  outline: none;
}

.warning {
  height: 1.4rem;
  padding-left: 4px;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}
