.app {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

header h2 {
  padding-right: 40%;
}

.username {
  color: #4d4de0;
}
